[Unit]
Description=Puzzleverse Game server

[Service]
EnvironmentFile=/etc/default/puzzleverse
ExecStart=/usr/bin/puzzleverse-server  -a ${AUTH_URL} -d ${DB_URL} -j ${JWT_SECRET} --ssl ${PKCS12_FILE}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
